* {
    /* Change your font family */
    font-family: sans-serif;
}
.container {
    width: 100%;
  }

.content{
    margin: 2rem;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.content-table .buttons{
    font-size: 2rem;
    display: flex;
    cursor: pointer;
}

/* Create Form */

.form{
    border: 1px solid gray;
    padding: 1.5rem;
    font-size: 1.2rem;
    box-sizing: border-box;
    font-weight: bold;
    margin: 3rem;
}

.form .form-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.form-details .form-input{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 45%;
}

.form-input label{
    margin-bottom: 0.5rem;
}

.form-input input{
    height: 2rem;
}

