.register-page {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  padding-top: var(--navbar-height);
  display: flex;

  label {
    position: relative;
    .error-msg {
      position: absolute;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 0.75rem;
      color: red;
      h1 {
        font-size: 0.75rem;
        font-weight: 500;
      }
      svg {
        margin-right: 0.25rem;
      }
    }

    .password-power {
      position: absolute;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 0.25rem;

      div {
        display: flex;
        justify-content: flex-start;
        height: 0.75rem;
        width: 6rem;
        border-radius: 1rem;
        background-color: rgba(223, 219, 219, 0.5);
        div {
          height: 100%;
          width: 100%;
        }
      }
      h1 {
        margin-left: 0.25rem;
        font-size: 0.75rem;
        font-weight: 600;
      }
    }
  }

  .left-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

    #custom-field-Password {
      margin-bottom: 1rem;
    }
    .custom-field {
      position: relative;
      font-size: 14px;
      padding-top: 1.5rem;
      margin-bottom: 0.5rem;

      input {
        border: none;
        appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        background: #f2f2f2;
        padding: 0.8rem;
        border-radius: 0.25rem;
        width: 250px;
        outline: none;
        transition: all 0.2s ease-in-out;
      }

      input:focus::placeholder {
        color: transparent;
      }

      input::placeholder {
        color: #222;
        transition: color 0.3 ease;
      }

      .placeholder {
        position: absolute;
        left: 1rem;
        top: calc(50% + 10px);
        transform: translateY(-50%);
        color: #aaa;
        transition: top 0.3s ease-in-out, top 0.3s ease-in-out,
          top 0.3s ease-in-out;
      }
      input:valid + .placeholder,
      input:focus + .placeholder {
        top: 1rem;
        font-size: 10px;
        color: #222;
        letter-spacing: 1px;
      }
    }

    $toggle-indicator-size: 24px; // changing this number will resize the whole toggle
    $track-height: $toggle-indicator-size + 6;
    $track-width: $toggle-indicator-size * 2.5;
    $highContrastModeSupport: solid 2px transparent;
    $dark: black;
    $speed: 0.5s;
    $track-border: #222;
    $track-background: #f2f2f2;
    $focus-ring: 0px 0px 0px 2px $dark;

    .toggle-c {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.8rem;
    }
    // Toggle specific styles
    .toggle {
      align-items: center;
      border-radius: 100px;
      display: flex;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 16px;

      &:last-of-type {
        margin: 0;
      }
    }

    .select-field {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      select {
        background-color: #343d45;
        color: white;
        padding: 12px;
        width: 250px;
        border: none;
        font-size: 17px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
        -webkit-appearance: button;
        appearance: button;
        outline: none;

        option {
          padding: 30px;
        }
      }
    }

    .select-field::before {
      font-family: FontAwesome;
      position: absolute;
      top: 0;
      right: 0;
      width: 20%;
      height: 100%;
      text-align: center;
      font-size: 28px;
      line-height: 45px;
      color: rgba(255, 255, 255, 0.5);
      background-color: rgba(255, 255, 255, 0.1);
      pointer-events: none;
    }

    .select-field:hover::before {
      color: rgba(255, 255, 255, 0.6);
      background-color: rgba(255, 255, 255, 0.2);
    }

    // Since we can't style the checkbox directly, we "hide" it so we can draw the toggle.

    .btnWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10%;
      width: 100%;

      .registerBtn {
        margin-top: 1rem;
        margin-bottom: 0.2rem;
        border: 1px solid #aaa;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 5rem;
        padding-right: 5rem;
        border-radius: 0.25rem;
        background: #f2f2f2;
        transition: all 0.15s ease-in-out;
        opacity: 1;
        cursor: pointer;
        color: #000;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.2) 0px -2.5px 20px;
        }
      }
    }
  }

  .right-register {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 55%;
    height: 100%;
    background-color: lightblue;
    border-bottom-left-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center right;
    }
  }
}

@media (max-width: 900px) {
  .right-register {
    display: none !important;
  }
  .register-page {
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
